<form action="/course/add" method="post">
<p>
<label>Course Name</label><input value="" name="courseName" /> </br></br>
<label>Course Duration</label><input value="" name="courseDuration" /></br></br>
<label>Course Fee</label><input value="" name="courseFee" />
<button type="submit">Add course</button>
</p>
</form>